<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blood Bank Management System</title>
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/styles.css')}}"> <!-- Link your CSS file here -->
    <script type="text/javascript" src="{{ url_for ('static', filename='js/script.js')}}"></script>
    <script type="text/javascript" src="{{ url_for ('static', filename='js/donate.js')}}"></script>
    <script type="text/javascript" src="{{ url_for ('static', filename='js/receive.js')}}"></script>

</head>
<body>
    <header>
        <h1>Blood Bank Management System</h1>
        <!-- Add login form here -->
    </header>

    <main>
        <div class="dashboard">
            <h2>Dashboard</h2>
            <div class="blood-groups">
                <div class="blood-group">
                    <h3>Blood Group A</h3>
                    <p>Available: <span id="blood-group-a">0</span></p>
                </div>
                <div class="blood-group">
                    <h3>Blood Group B</h3>
                    <p>Available: <span id="blood-group-b">0</span></p>
                </div>
                <div class="blood-group">
                    <h3>Blood Group AB</h3>
                    <p>Available: <span id="blood-group-ab">0</span></p>
                </div>
                <div class="blood-group">
                    <h3>Blood Group O</h3>
                    <p>Available: <span id="blood-group-o">0</span></p>
                </div>
                <!-- Add more blood groups as needed -->
            </div>
        </div>

        <div class="actions">
            <button id="donate-form" onclick="window.location.href='/donate'">Donate Blood</button>
            <button id="receive-form" onclick="window.location.href='/receive'">Receive Blood</button>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 Blood Bank Management System</p>
    </footer>

    

</body>
</html>
